* {
    font-family: "Trebuchet MS", serif;
}

#link {
    justify-content: center;
    display: block;
    text-align: center;
    margin: 24px auto;
}

.recipe {
    display: block;
    text-align: center;
    margin: 24px auto;
    background-color: lightpink;
    border: sienna 2px solid;
    justify-content: center;
}

h1 {
    font-size: 36px;
    width: 500px;
    padding: 24px 8px;
}

.main {
    background-color: lightgrey;
    border: darkslategrey 2px solid;
    padding: 8px 24px;
    margin: auto;
}

#link {
    justify-content: center;
    display: block;
    text-align: center;
    margin: 24px auto;
}

.desc {
    background-color: lightblue;
    border: lightskyblue 2px solid;
}

.ing {
    background-color: aquamarine;
    border: lightgreen 2px solid;
    text-align: center;
    list-style-position: inside;
}

.step {
    background-color: lightyellow;
    border: yellow 2px solid;
    list-style-position: inside;
    text-align: right;
}